# test_target/my.cnf.vulnerable
# Fixture deliberadamente insegura para o target 'mysql'.
# Cada diretiva viola um controlo CIS coberto pelo target.
# Correr: sca scan test_target/my.cnf.vulnerable

[mysqld]
ssl_cipher = *
block_encryption_mode = aes-128-ecb
bind_address = *
allow-suspicious-udfs = ON
local_infile = ON
skip-grant-tables = TRUE
skip-symbolic-links = NO
sql_mode = NO_ENGINE_SUBSTITUTION
log-bin = /var/log/mysql/bin-log.*|/usr/local/mysql/data/bin-log.*|/
log-warnings = 1
log-raw = ON
audit_log_connection_policy = NONE
old_passwords = 1
secure_auth = OFF
have_ssl = NO
master_info_repository = FILE
